.chat_main
  .chat_main__group-info
    .group-info
      %p.group-info__group-name
        test
      %p.group-info__members
        Member:masa
    =link_to "#", class: "edit-btn" do
      Edit
  .chat_main__message-list
    =render partial: 'comment', collection: @comments
    -# - @comments.each do |comment|
    -#   .post-info
    -#     .post-info__index
    -#       %p.post-info__index__name
    -#         =comment.user.name
    -#       %p.post-info__index__time
    -#         =comment.created_at
    -#     .post-info__text
    -#       - if comment.body.present?
    -#         =comment.body
    -#       - if comment.image.present?
    -#         = image_tag comment.image

  .chat_main__message-form
    = form_for [@group, @comment], html:{class: 'chat_main__message-form'} do |f|
      .send-text__form
        = f.text_field :body, class: 'send-text__form__input', placeholder: 'type a message'
        = f.label :image, class: 'send-text__form__image' do
          = icon('fas', 'image')
          =f.file_field :image, class: 'send-text__form__image__file'
      =f.submit 'Send', class: 'submit-btn'

