.side_bar
  .side_bar__user-name
    .top-items
      .top-items__name
        %p masa
      .top-items__icons
        =link_to "#", class:"top-items__icons__edit" do
          %i.fa.fa-edit
        =link_to "#", class:"top-items__icons__cog" do
          %i.fa.fa-cog
 

  .side_bar__group-list
    .group-list__items
      %p.group-list__items__name
        techcamp
      %p.group-list__items__new-message
        まだメッセージはありません。 

    .group-list__items
      %p.group-list__items__name
        techcamp
      %p.group-list__items__new-message
        まだメッセージはありません。

    .group-list__items
      %p.group-list__items__name
        techcamp
      %p.group-list__items__new-message
        まだメッセージはありません。
   
